Source: tint
Maintainer: Christian Schramm <csch@solute.de>
Section: python
Priority: optional
Build-Depends: python-dev (>= 2.6), debhelper(>= 8), build-essential, python-setuptools-git
Standards-Version: 3.9.1



Package: python-tint
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, libicu52
Description: Friendly Color Normalization




